* {
    font-family: qqtest1;
    font-size: 1.1rem;
}

input[readonly] {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea[readonly] {
    background-color: rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: "qqtest";
    src: url("../fonts/HYSuZeLiXingKaiTruingF-2.ttf");
}

@font-face {
    font-family: "qqtest1";
    src: url("../fonts/kaiu.ttf");
}

@media (max-width: 760px) {
    .ndisplay-in-mobile {
        display: none;
    }
}

@media (max-width: 760px) {
    section#service h3 {
        margin-top: 2rem;
    }
}

@media (min-width: 760px) and (max-width: 992px) {
    section#service img {
        margin-top: 2rem;
    }
}

@media (min-width: 992px) {
    section#service h3 {
        margin-top: 2rem;
    }
}

.map-container-6 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-6 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

section#reservation p {
    margin-bottom: 0;
}

/*row3 and row4*/
section#homepage img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* section team */
section#aboutme {
    margin-top: 2rem;
}

section#aboutme ul {
    margin: 5rem 0;
}

section#aboutme li {
    margin: 0 5rem;
}

section#aboutme h1 {
    font-size: 2.5rem;
    /*font-weight: bold;*/
    font-family: qqtest;
}

section#aboutme img {
    /*margin-top: 2rem;*/
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    /*margin-bottom: 5rem;*/
    /*width:100%;*/
    /*height:100%;*/
}

section#aboutme h3 {
    margin-top: 4rem;
}

/*row 5 and row 6*/
section#resume {
    margin-top: 2rem;
    background-color: #fcfcfc;
    border-top: 0.1rem solid #e9e9e9;
    border-bottom: 0.1rem solid #e9e9e9;
}

section#resume * {
    color: #0f0f0f;
}

section#resume .resume {
    padding-top: 1rem;
    /*padding-bottom: 4rem;*/
    text-align: center;
}

section#resume .title {
    background-color: #f0f0f0;
    padding-bottom: 0.1rem;
}

section#resume img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

section#resume p {
    text-align: center;
    /*font-size: 1.rem;*/
}

section#service {
    background-color: #fff8d7;
    border-top: 0.1rem solid #e9e9e9;
    border-bottom: 0.1rem solid #e9e9e9;
}

section#service .title {
    background-color: #FFEE99;
    padding-bottom: 0.1rem;
}

section#service img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

section#service h3 {
    /*margin-top: 2rem;*/
}

section#tax_caculation {
    background-color: #fffaf4;
    border-top: 0.1rem solid #e9e9e9;
    border-bottom: 0.1rem solid #e9e9e9;
}

section#tax_caculation .title {
    background-color: #ffc78e;
    padding-bottom: 0.1rem;
}

section#tax_caculation a:hover {
    color: #0CC;
}

section#tax_caculation a {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #06C;
    text-decoration: none;

    /*margin-top:30px;*/
    /*width:490px;*/
}

section#tax_caculation p {
    text-align: center;
}

section#tax_caculation h4 {
    text-align: center;
}

section#tax_caculation table {
    margin-left: auto;
    margin-right: auto;
}

section#tax_caculation input {
    margin-left: auto;
    margin-right: auto;
}

section#related_web {
    background-color: #f0fff0;
    border-top: 0.1rem solid #e9e9e9;
    border-bottom: 0.1rem solid #e9e9e9;
}

section#related_web .title {
    background-color: #dfffdf;
    padding-bottom: 0.1rem;
}

section#related_web img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

section#related_web h3 {
    margin-top: 2em;
}

section#related_web p {
    text-align: center;
}

section#related_web a {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #06C;
    text-decoration: none;

    /*margin-top:30px;*/
    /*width:490px;*/

}

section#related_web a:hover {
    color: #0CC;
}

section#online_consultation {
    background-color: #fbfbff;
    border-top: 0.1rem solid #e9e9e9;
    border-bottom: 0.1rem solid #e9e9e9;
}

section#online_consultation .title {
    background-color: #d2e9ff;
    padding-bottom: 0.1rem;
}

section#online_consultation h3 {
    margin-top: 2em;
}

/* footer */
footer {
    background-color: #444444;
    color: #FFFFFF;
    /*margin-top: 1em;*/
}

footer p {
    margin-bottom: 0;
}

#gotop .btn:focus {
    box-shadow: none;
}

#gotop {
    display: block;
    position: fixed;
    right: 50px;
    bottom: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background: rgba(60%, 60%, 60%, 0.5);
    color: white;
    cursor: pointer;
    border-radius: 50px;
}

.hidden-element {
    display: none;
}
