@charset "UTF8";
/* CSS Document */
*{	font-family:"標楷體";
	padding:0;
	margin:0;
	font-size:24px;
	background-color:#FFF;
}
a{
	text-decoration: none;
	color:#900;
	}

.taxa{
	display: block;
	text-align:center;
	text-decoration: none;
	font-size:28px;
	color:#960;
	margin-top:30px;
	width:490px;
	margin-left:245px;
	}
a:hover{
	color:#090;
	}
h1{
	margin-top:40px;
	text-align:center;
	font-size:32px;
	}
h5{
	margin-top:40px;
	text-align:center;
	font-size:32px;
	}
h2{
	text-align:center;
	font-size:18px;
	color:#F33;
}
h4{
	text-align:center;
	font-size:18px;
	color:#060;
}

.border{
	clear:both;
	border-bottom:#666 2px solid;
	height:90px;
}
.service{
	padding:0px 100px;
	color:#00F;
	font-size:24px;
}
#oldtax{
	display: block;
	text-align:center;
	text-decoration: none;
	font-size:28px;
	margin-top:30px;
	width:490px;
	margin-left:245px;

}
.kind{
	text-align:center;
	background-color:#C5FDBB;
}
.kind1{
	text-align:center;
	background-color:#C8EAE8;
	font-weight:bold;
}

.kin2{
	letter-spacing:1px;
}
#wrapper{
	background:#FFF;
	width:980px;
	margin:0 auto;
}
.map{
	padding-left:10px;
	padding-top:10px;
	}
#header{
	background:#FFF;
	width:980px;
	top:0px;
	height:60px;
	position:fixed;
	}

#mainNav{
	background:#FFF;
	width:980px;
	height:40px;
	position:fixed;
	top:60px;
	border-bottom:2px solid #333;

	}
#mainNav ul{
	padding-left:110px;
	 top:80px;
	}
#mainNav li{
	float:left;
	list-style-type:none;
	border:solid 1px;
	}
#mainNav li a{
	display: block;
	width: 150px;
	height: 35px;
	font-weight:1000;
	text-align: center;
	text-decoration: none;
	padding-top: 5px;
	color:#333
}
#mainNav li a:hover{
	color:#090;
}
#content1{
	background:#FFF;
	height:712px;
	}

#H{
width:980px;
height:80px;
}
#content2A{
	float:left;
	width:488px;
	height:900px;
}
#content2A img{
	border:#060 5px double;
}
#content2A a{
	width:184px;
}
#content2A p{
	padding:5px 20px;
}
#content2B{
	float:right;
	width: 490px;
	height:900px;
	border-left:#999 solid 2px;
	font-size:24px;

}
#content2B ul{
	padding-left:70px;
	}
#content2B li{
	list-style-image:url(img/checklist-145546.png);
	padding-top:60px;

	}
#content3{
	clear:both;
	}
#content3 ul{

}
#content3 li{
	padding-left:245px;
	list-style-type:none;
	padding-top:20px;

}
#content3 li a{
	display: block;
	height:35px;
	width:490px;
	font-weight:1000;
	text-align:center;
	font-size:24px;
	text-decoration:none;
	padding-top: 5px;
	color:#333;
}
#content3 li a:hover{
	color:#090;
}
#content4{

}
#content4 td{
	padding:0px 20px;

}
#costexplain{
	padding-top:30px;
	color:#F00;
	}
#yes319{
	text-align:center;
	padding-left:245px;
}

#yes319 a{
	display:block;
	text-align:center;
	font-size:30px;
	color:#06C;
	margin-top:30px;
	width:490px;

}
#yes319 a:hover{
	color:#0CC;
}


#footer a{
	display:inline-table;
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 1px 1px;
    border: 1px solid #666666;
    border-radius: 0px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    color: #000000;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #5f58da;
    color: #999999;
    text-decoration: none;
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height: 15px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAACZklEQVRIibWVMU9TURTHf//nG4l+BULCwMLAimHAgQGHmtaVD0BoohOpA0QHIHER6idgpkiCsxija006WGM1IQysJoTJYP8O9933XiuQKuEkbf49ve+ce37n3HcFJAxZu9ubA7YF00gYKL6NEODMc4k2Z8Cu8WqaxezHRO1ubxx0CD41bGBfSMIGMJKuCw1BjQPLQsQEMQlABTwGLMxMTZ6U/Mmouv3lW4IEsBSdZfsL2f/Y56+95+3ud6cA1ZXGBKIiuJevkMBRk+scicCB22+gA37bam7FSrDDmrRab8wBh0JjVhFLeeDsV65BcpRZIiE4qK48e9x6vXGRb8WQAtvAqfFCa2fzeEQCOfdavZGCnxi9RH4IHITEwjYJaBq012punmQPjvKJSZK95mbfeCfzTUe/HSYuQUbyRbajyPCf9H5z6xcYpDvRr8COVOUOAm/efVoHr+GB3ha6aA6P5u+L/P94PgozZOfAiiUjOIpNzZvNoMYmm/MclwGV4kREqXG2NpRbmZ/9ALwvcR7xoBmHQH0ITQ6InO8rQ/RxXdbaVe+cUh1UHsyqSCQGI0VExUxniHQUCCkvU6WSr0BUPpdJDC+JNJ7KmyJy0d9+3AOYdKjxN0AUi4o6ELg1RLZToH8riNrd3gRQAzqjI5JeVOZn18uch3UJ0Q/gHFgcGRFwVEYybEOIngIHM1OTJ7eCaGZq8lX0J7bPbI/X6o24u0vLv05X642JIP1zeE2K2MUsG6jWG8dXIRi04g0lKbVdA5873AUDGFPs1eyBJeBunF/IZhnALul4i4VEtvtAB1jcD3fKALo/8t1qANrDRyIAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}
